@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

*, h1, h2, h3 {
    font-family: 'Varela Round';
}

.spin{
    animation: vertical_spin 12s ease-in-out infinite;
}

@keyframes vertical_spin {
    0%, 15% {
        transform: translateY(0%);
    }
    25%, 40% {
        transform: translateY(-100%);
    }
    50%, 65% {
        transform: translateY(-200%);
    }
    75%, 90% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }  
}


